@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
* {
    margin: 0px;
    padding: 0px;
    font-size: 10px;
    font-family: 'Kanit', sans-serif;
}
#wrap {
    margin: 0 auto;
    border: solid 1px red;
    padding: 20px;
    width: 1500px;
}

header {
    border: solid 1px red;
    padding: 20px;
    margin-bottom: 20px;
}

section {
    border: solid 1px red;
    padding: 20px;
    margin-bottom: 20px;
}
article {
    /* border: solid 1px red; */
    padding: 20px 0;
    margin-bottom: 20px;
    overflow: hidden;

}
footer {
    border: solid 1px red;
    padding: 20px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0.5rem;
}

#title {
    background-image: url(../포트폴리오/images/icons/A.svg);
    background-repeat: no-repeat;
    line-height: 7rem;
    padding-left: 8rem;
    font-size: 1.5rem;
}

#hContainer {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    /* border: 1px solid gray; */
    text-align: center;    
    /* padding-right: 10px; */
    align-items: center;
}

.menu > li {
    margin-right: 5rem;
    text-align: center;
}

a{
    color: black;
    font-size: 1.5rem;
}

a:link {
    text-decoration: none;
}

.menu > li:hover a{
    color: purple;
}

#section {
    margin: 0 auto;
        height: 500px;
        border: 1px solid white;
        background: url(../포트폴리오/images/wallpaperbetter\ \(2\).jpg) no-repeat;
        background-size: 100% 100%;
}

.maintitle {
    margin: 350px 10px;
    padding: 20px;
    background-color: rgb(250,255,255,0.4);
    color: whitesmoke;
}

.maintitle > p,h1 {
    font-size: 1.5rem;
}



#left {
    margin: 0 auto;
    width: 450px;
    height: 300px;
    margin-bottom: 20px;
    margin: 0px 20px 20px 0px;
    background-color: aquamarine;
    float: left;
}

#right {
    margin: 0 auto;
    width: 450px;
    height: 300px;
    margin-bottom: 20px;
    background-color: turquoise;    
    float: right;
}

footer {
    clear: both;
}